[submodule "GMR"]
    path = GMR
    url = https://github.com/AKCIT-RL/GMR.git
    branch = dev/pettro

[submodule "GENMO"]
	path = GENMO
	url = https://github.com/AKCIT-RL/GENMO.git
	branch = dev/pettro
